{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block body %}
{% for ima in image %}
<div>
<tr>
<td><img src={{ ima.id }}></td>
					<td><img src={{ ima.pouf }}></td>
					<td><img src={{ ima.lampe }}></td>
					<td><img src={{ ima.deco }}>E</td>
                    </tr>
</div>
{% endfor %}
{% endblock %}
