{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit
{% endblock %}

{% block body %}


	<div class="titre_general">
		<h1>Ajouter les produits</h1>
	</div>
	<div class="tit">

		<div class="col-4">
			<img src="{{asset("peinture.jpg")}}" alt="" class="img-fluid thumbnail">

		</div>
		<div class="container col-4">
			{{ form(form) }}
			</div>
		</div>

	{% endblock %}
