* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BeauRivage-Regular";
  src: url("BeauRivage-Regular.eot") format("eot"),
    url("BeauRivage-Regular.woff") format("woff"),
    url("BeauRivage-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sabana";
  src: url("Sabana.eot") format("eot"), url("Sabana.woff") format("woff"),
    url("Sabana.ttf") format("truetype");
}
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  background-color: black;
}
.portrait {
  display: flex;
  justify-content: center;
  width: 95vw !important;
  height: 80vh !important;
  margin: 0px auto;
}
@media (min-width:500px) and (max-width:760px) {
  .title1 {
    font-family: BeauRivage-Regular;
    font-size: 30px !important;
    color: black;
  display: flex;
  justify-content: center;
    margin: 10px auto;
  
  }
}
@media all and (max-width: 500px) {
  .portrait {
    display: flex;
    justify-content: center;
    height: 48vh !important;
  }
  .nav1 {
    width: 53vw !important;
  }
  .seffar {
    display: block;
  }
  
  .tan,
  .rowi,
  .recapfact {
    display: block;
    align-items: center;
    flex-direction: column;
  }
  .caro {
    width: 53vw !important;
    height: 48vh !important;
    margin: 20px auto;
  }
  .categ {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title1 {
    font-family: BeauRivage-Regular;
    font-size: 20px !important;
    color: black;
  display: block;
  justify-content: center;
    margin: 10px auto;
  
  }
  .categ1 {
    /* margin-right: 40px; */
    width: 60vw !important;
    height: 60vh !important;
  }
}

/* fin de mediaquery */
.tan {
  display: flex;
  justify-content: space-around;
}
.corps {
  min-height: 600px;
}
.cont {
  min-height: 700px;

}

.title1 {
  font-family: BeauRivage-Regular;
  font-size: 70px;
  color: black;
display: flex;
justify-content: center;
  margin: 30px auto;

}
.nav1 {
  margin-top: 10px auto;

  font-family: BeauRivage-Regular;
  font-size: 25px;
  width: 95vw !important;
  margin: 0px auto;

}
.tab {
  margin-top: 170px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tab2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.corps1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.caro {
  padding-top: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 80vw !important;
  height: 60vh !important;
}

.rowi {
  display: flex;
  justify-content: space-around;
}

/* modal */

.modal-body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
}


.modal-footer1,
.modal-header1 {
  display: flex;
  justify-content: center;
}
.imgreg {
  height: 40px;
  width: 40px;
}

.titre_general,
/* .pan, */
.compte {
  display: flex;
  justify-content: center;
}

.compteperso,
.liv,
.fact,
.tit,
.login,
.register,
.ajout {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#produit_submit,
#image_submit,
#contact_submit,
#adresse_facturation_submit,
#adresse_livraison_submit {
  margin-top: 20px;
}
.progress {
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttpan {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp {
  width: 500px;
}
.fin {
  color: white;
  background-color: black;
  position: absolute;
  right: auto;
  left: auto;
  bottom: 1;
  width: 100%;
}
.buttlogin {
  margin-top: 20px;
  margin-bottom: 10px;
}
.tit1 {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.parag {
  font-family: BeauRivage-Regular;
  font-size: 25px;
}
.img-fluid1 {
  width: 400px;
  height: 300px;
}
 .fact {
  display: flex;
  justify-content: center;
}

.titrepouf {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.totalpanier {
  /* margin-left: 770px; */
  display: flex;
  justify-content: flex-start;
}
section:first-child {
  display: flex;
  width: 100%;
  height: 380px;
  border: 3px solid rgb(175, 156, 242);
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.colib {
  width: 360px;
  height: 330px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.list-group_user {
  border: 3px solid rgba(255, 166, 0, 0.886);
  margin-top: 20px;
  width: 400px;
}
/* .card {
  border: 1px solid white;
  padding: 3px;
  /* box-shadow: 2px 2px 2px grey; */
  /* position: relative; */
/* } */ *
/* .card img {
  width: 100%;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
} */
/* .card:hover .overlay {
  transform: scale(1);
} */
.recapfact,
.seffar {
  display: flex;
  justify-content: space-around;
}
.facture {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(255, 166, 0, 0.886);
  border-radius: 5px;
  border-width: 40px;
  width: 320px;
}
.error {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.categ{
  display: flex;
  justify-content: center;
  
}
.categ1 {
  margin-right: 60px;
  width: 20vw !important;
  height: 20vh !important;

}
/* debut hover du produit */

.hov {
  position: relative;
  display: inline-block;
}
.hov:before {
content: '';
position: absolute;
top: -2px;
left: -2px;
border: 2px solid transparent;
}
.hov:hover:before {
  animation: hover 1s linear forwards;
}
@keyframes hover{
  0% {
    width: 0;
    height: 0;
    border-top-color: rgba(255, 166, 0, 0.886);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: rgba(255, 166, 0, 0.886);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: rgba(255, 166, 0, 0.886);
    border-right-color: rgba(255, 166, 0, 0.886);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
.hov:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
  }
  .hov:hover:after {
    animation: hover2 1s linear forwards;
    animation-delay: 1s;
  }
  @keyframes hover2{
    0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgba(255, 166, 0, 0.886);
    }
    50% {
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgba(255, 166, 0, 0.886);
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgba(255, 166, 0, 0.886);
      border-left-color: rgba(255, 166, 0, 0.886);
    }
  }

  /* anim button */
  .animated-link {
display: inline-block;
background: black;
border-radius: 3px;
text-decoration: none;
  }
  .animated-link span {
    display: inline-block;
    background: yellow;
    color: blueviolet;
    border: 1px solid blueviolet;
    padding: 18px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 
    transform 0.15s ease-out,
    color 0.15s ease-out,
    background-color 0.15s ease-out,
  }
.animated-link:hover span {
  transform:  translate(-6px, -6px);
  color: black;
  background: #ff90e8;
}
