{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'ART DU MAROC' %}

{% block main %}
   
 <div class="content">

        <div class="container">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    {# <a href="#">{{ 'mes infos'|trans }}</a> #}
                </li>
                {# <li class="breadcrumb-item active">{{ app.user.username }} </li> #}
            </ol>
            <!-- Icon Cards-->
        </div>

        <div class="container">
            <div class="row">
                <h1> Tableau de bord </h1>
            </div>
            <div class="row mt-3">
                <div class="col-6 alert-success">
                    <span class="display-3"> {{ countUser['value'] }} </span> Utilisateurs
                </div>
                <div class="col-6 alert-dark">
                    <span class="display-3"> {{ countCommande['value'] }} </span> Commandes
                </div>
            </div>
           
        </div>
    </div>

    

 
  
{% endblock %}
