{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}


	<h1>cgv</h1>

	Les présentes conditions générales de vente (ci–après désignées les "Conditions Générales") s’appliquent sans restriction ni réserve à l’ensemble des ventes conclues entre la société tribaliste.com, SARL au capital de 10 000dhs, dont le siège social est sis au ZI 497 Akioud Sidi Ghanem 40 000 Marrakech Maroc, sous le numéro de Registre de Commerce 97287, et tout utilisateur (ci–après le « Client ») du site www.tribaliste.com (ci–après le « Site ») désirant effectuer un achat.

Site internet : https://www.artdumaroc.com

N° de téléphone : 01 69 40 02 36

E-mail : mahdizmen@hotmail.com

Hébergement du site : Société o2switch, dont le siège social est situé au , immatriculée au RCS de ? sous le numéro 000 000 000 00000

 

1. Définitions
Les Parties conviennent et acceptent que les termes suivants utilisés avec une majuscule, au singulier et/ou au pluriel, ont dans le cadre des présentes Conditions Générales, la signification qui leur est donnée ci-dessous :

« Acheteur » désigne tout Utilisateur, professionnel ou non, qui achète un ou plusieurs Article(s) sur le Site ;

« Annonce » désigne toute offre de vente d'un ou de plusieurs Article(s) émise par tout Vendeur sur le Site ;

« Article » désigne tout produit de décoration mis en vente par tout Vendeur sur le Site ;

« Boutique » désigne l'ensemble des Articles proposés à la vente sur le Site par un même Vendeur ; 

« Commande » : processus d’achat en ligne d’un Article par tout Acheteur à un Vendeur sur le Site ;

« Commission » : désigne la somme perçue par tribaliste.com en contrepartie d’une vente réalisée par tout Vendeur sur le Site ;

« Contrat » : désigne les présentes Conditions Générales ;

« Informations » : données (personnelles, professionnelles, informations etc.) et contenus (vidéographiques, photographiques, documents, messages, images, photographies détourées etc.) mis en ligne par tout Utilisateur sur le Site ;

 « Livraison by tribaliste.com » : service de livraison organisée par tribaliste.com SARL 

« Prix de l'Article » comprend la Part Vendeur sur le prix de l’Article plus la Commission payé par le client. Le Prix de l'Article est en EUROS. C’est le prix payé par l’Acheteur pour acheter l’Article hors frais de livraison ;

« Prix de la Transaction » : comprend le Prix de l’Article et les frais de livraison éventuels en EUROS ;

« Profil » : page dédiée à un Utilisateur inscrit sur le Site comportant les Informations renseignées par cet Utilisateur ;

« Questions et Réponses » : espace dédié sur le Site permettant à tout Utilisateur de poser des questions sur un Article et au Vendeur d’y répondre ;

 « Utilisateur » désigne tout internaute naviguant sur le Site en quelque qualité que ce soit (Vendeur, Acheteur, professionnel ou non, personne physique agissant en son nom personnel ou pour le compte d’une personne morale, internaute non inscrit sur le Site, etc.) ;

« Vendeur » désigne tout Utilisateur, particulier ou professionnel, qui propose à la vente un ou plusieurs Articles(s) sur le Site.

« Photos » désigne les visuels utilisés pour chaque produit et qui sont la propriété de Tribaliste.com, et n'est en aucun cas utilisable par le vendeur pour 

2. OBJET ET ACCEPTATION DES CONDITIONS GÉNÉRALES
2.1. Les présentes Conditions Générales ont pour objet de définir les conditions d'utilisation du Site par l’Utilisateur.

2.2. Le fait pour tout Utilisateur de cocher la case "J'ai lu les Conditions Générales et j'y adhère sans réserve" au moment de son inscription sur le Site constitue une acceptation irrévocable et sans réserve de l'intégralité des stipulations des présentes.

Cette acceptation prend effet à compter de la date d'inscription sur le Site de l'Utilisateur et vaut pour toute la durée du Contrat.

Si l’Utilisateur refuse de se conformer à l’une quelconque des obligations et conditions contenues dans les présentes Conditions Générales, il doit renoncer à accéder au Site et à l’utiliser.

2.3. Les présentes Conditions Générales forment un contrat entre Tribaliste.com et l’Utilisateur.

L’Utilisateur déclare et garantit avoir la capacité juridique de contracter et, s’il représente une société ou tout autre organisme ayant la personnalité morale, être habilité à agir au nom et pour le compte de cette société ou de cet organisme.

Les présentes Conditions Générales constituent l’intégralité de l’accord entre les Parties et remplacent tout accord ou arrangement précédent, oral ou écrit s’y rapportant.

Les présentes Conditions Générales prévalent, entre tribaliste.com et l’Utilisateur, sur tout autre document contractuel ou non contractuel émanant d’un Vendeur et/ou d’un Acheteur.

2.4. Tribaliste.com se réserve le droit de modifier à tout moment les présentes Conditions Générales.

Toute modification prendra effet immédiatement à compter de la mise en ligne de la nouvelle version des Conditions Générales sur le Site.

L'Utilisateur s'engage donc à consulter régulièrement les Conditions Générales du Site pour prendre connaissance des modifications y ayant été apportées.

Le Client pourra se faire communiquer sur sa demande les Conditions Générales modifiées.

L’Utilisateur est libre de se désinscrire du Site selon les modalités prévues à l’article 19 ci-après si les Conditions Générales modifiées ne lui conviennent pas.

A défaut, il sera réputé accepter sans réserve la nouvelle version des Conditions Générales.

2.5. Les Conditions Générales applicables sont celles en vigueur au moment de la Commande.

2.6. À tout moment, l’Utilisateur a la possibilité de consulter et de sauvegarde les Conditions Générales.

Avant la confirmation de la Commande, il devra les accepter en cliquant sur l’icône prévue à cet effet.

3. INSCRIPTION SUR LE SITE
3.1. Pour mettre en vente ou acheter des Articles sur le Site, l’Utilisateur devra s’inscrire sur le Site en créant un compte.

L'inscription sur le Site est gratuite et accessible à tout Utilisateur personne physique âgé de 18 ans révolus, ainsi qu’à toute personne morale.

3.2. L’Utilisateur pourra s’inscrire sur le Site comme suit :

En remplissant manuellement les champs obligatoires du formulaire d'inscription marqués d’un astérisque, à l’aide d’Informations complètes et exactes ;

3.3. L’Utilisateur qui souhaite vendre des produits sur le Site est dans l’obligation de communiquer des informations personnelles à tribaliste.com; notamment des coordonnées bancaires valides. 

Tribaliste.com est de plus autorisée à collecter des documents justifiant de l’identité du Vendeur. Ces documents peuvent être demandés par les équipes de tribaliste.com et sont utilisés dans le seul but de garantir la sécurité des transactions financières et de lutter contre la fraude. 

Tribaliste.com est en droit d’annuler une vente si jamais le Vendeur refuse de communiquer ces justificatifs ou s’il y a un doute sur la validité de ces justificatifs.

Tribaliste.com rappelle au Vendeur agissant à titre professionnel son obligation de respecter les lois et règlements relatifs à la conclusion d’un contrat de vente à distance.

3.4. En renseignant son adresse postale, l'Utilisateur accepte que tribaliste.com traite les données relatives à sa localisation.

Ce traitement permet à l'Utilisateur :

de rechercher des Articles en fonction de sa propre localisation ou d'une autre localisation ;

que tout Article mis en vente sur le Site soit identifié dans une localité précise par les autres Utilisateurs.

3.5. Lors de son inscription, l'Utilisateur choisira un identifiant et un mot de passe.

L'Utilisateur s'engage à ne pas s'enregistrer sous un identifiant susceptible de porter atteinte aux droits d'un tiers (marque, dénomination sociale, nom commercial, etc.).

L’Utilisateur ne doit pas utiliser de mot de passe simpliste (par exemple : 123456) et doit changer régulièrement de mot de passe en vue d’assurer un haut niveau de sécurité.

L'identifiant et le mot de passe seront strictement personnels et confidentiels et l’Utilisateur devra les utiliser de manière à en préserver la stricte confidentialité.

L'Utilisateur enregistré sera seul autorisé à accéder au Site à l'aide de son identifiant et son mot de passe.

Toute utilisation du Site au moyen de ses identifiant et mot de passe est réputée avoir été faite par l’Utilisateur lui-même.

En cas d'utilisation par un tiers de ses identifiant et mot de passe, l’Utilisateur devra en avertir immédiatement tribaliste.com :

Soit en adressant un email à l’adresse suivante : service-client@tribaliste.com;

Soit par courrier à l'adresse suivante : tribaliste.com SARL, ZI 497 Akioud Sidi Ghanem 40 000 Marrakech Maroc

Soit par téléphone au 0184254135, de 9:00 à 18h00 du lundi au vendredi.

Il recevra alors par courriel un nouveau mot de passe à l’adresse électronique qu’il a renseignée lors de son inscription.

L’Utilisateur est responsable de l’utilisation du Site et de toutes les actions réalisées sur le Site avec son identifiant et son mot de passe, sauf si l’utilisation de son compte a été faite après sa désinscription, ou après notification à tribaliste.com d’une utilisation abusive de son compte.

4. PROFIL DE L’UTILISATEUR
4.1. Après son inscription, l’Utilisateur est invité à renseigner un certain nombre d’Informations complémentaires (obligatoires pour celles marquées d’un astérisque ou facultatives pour les autres) sur son Profil.

L’Utilisateur qui utilise le Site en qualité de Vendeur doit compléter son Profil avec les Informations obligatoires signalées sur le Site et est libre de renseigner ou non sur son Profil les Informations facultatives.

L’Utilisateur qui utilise le Site en qualité d’Acheteur a la faculté de remplir les Informations obligatoires et/ou facultatives de son Profil.

L’Utilisateur a la possibilité de modifier à tout moment les Informations publiées sur son Profil.

4.2. Certaines des Informations renseignées par l’Utilisateur seront publiques et visibles par les autres Utilisateurs et/ou communiquées au(x) Vendeur(s) en cas de vente, ce que l’Utilisateur accepte expressément.

5. INFORMATIONS FOURNIES PAR L’UTILISATEUR ET MISES EN LIGNE SUR LE SITE
5.1. Chaque Utilisateur garantit à tribaliste.com que les Informations qu’il fournit sur le Site sont exactes, véridiques, complètes et à jour.

L’Utilisateur s’engage à mettre à jour régulièrement l’ensemble des Informations, afin de préserver leur exactitude.

L’Utilisateur est seul responsable de la sincérité et de l'exactitude de ces Informations.

Tribaliste.com  ne pourra en aucun cas être tenue responsable des erreurs, omissions, imprécisions pouvant être relevées dans les Informations fournies par l’Utilisateur, ni du préjudice pouvant éventuellement en découler pour les autres Utilisateurs ou pour des tiers.

5.2. En contrepartie de la mise en ligne d'Informations sur le Site, l’Utilisateur accorde à tribaliste.com une licence mondiale, non exclusive, transférable et pouvant donner lieu à l’octroi d’une sous-licence, conférant à tribaliste.com  le droit d’utiliser, de copier, de modifier, de distribuer, de traiter, de stocker et de diffuser, l’ensemble des Informations que l’Utilisateur insère sur le Site au fur et à mesure de leur mise en ligne.

En particulier, l’Utilisateur autorise tribaliste.com à diffuser les Annonces sur des sites partenaires et à en faire la promotion sur tout support.

5.3. L’Utilisateur garantit qu’il dispose des droits de propriété intellectuelle nécessaires à la publication des Informations qu’il met en ligne sur le Site.

L’Utilisateur garantit également que les Informations qu’il publie sur le Site ne contiennent rien qui soit contraire aux droits des tiers et aux lois en vigueur, et notamment aux dispositions relatives à la diffamation, à l’injure, à la vie privée, au droit à l’image, à l’atteinte aux bonnes mœurs ou à la contrefaçon.

L’Utilisateur garantit ainsi tribaliste.com contre tout recours éventuel d’un tiers concernant la publication desdites Informations sur le Site.

5.4. L'Utilisateur s'engage à ne jamais mentionner ses coordonnées (téléphone, adresse postale, email, etc.) dans les Annonces, dans les Questions et Réponses, ou dans sa Boutique.

Tribaliste.com se réserve le droit le cas échéant de supprimer ces coordonnées sans en avoir fait la demande préalable auprès de l'Utilisateur.

5.5. Dès lors qu’il achète un Article sur le Site, l'Acheteur accepte que ses nom et prénom, adresse de livraison, adresse électronique et numéro de téléphone soient communiqués au Vendeur.

Le Vendeur s'engage à garder ces Informations strictement confidentielles et à ne pas les divulguer à un tiers.

Le Vendeur s’engage à utiliser les coordonnées de l’Acheteur uniquement pour les besoins de l’exécution de la Commande.

Sauf accord exprès de l’Acheteur, le Vendeur s’engage à ne pas utiliser ces Informations pour envoyer à l’Acheteur de message, objet, documentation notamment de nature publicitaire, par quelque moyen que ce soit (notamment par voie postale, téléphonique ou électronique).

6. PROTECTION DES DONNÉES PERSONNELLES
6.1.tribaliste.com construit avec ses utilisateurs des relations fortes et durables, fondées sur la confiance réciproque : assurer la sécurité et la confidentialité des données personnelles de ses Utilisateurs est une priorité absolue pour trialiste.com

Tribaliste.com collecte et utilise les données personnelles de l’Utilisateur dans le respect des dispositions de la loi n°78-17 du 6 janvier 1978 dite « Informatique et Libertés » et du Règlement général sur la protection des données du 27 avril 2016 dit « RGPD ».
6.2. COLLECTE DES DONNEES

Toutes les données concernant les Utilisateurs sont collectées directement auprès de ces derniers lors de la création de son Profil, de la constitution de sa Boutique et/ou lors du processus de Commande.
6.3. FINALITE DES DONNEES COLLECTEES 

Le recueil des données personnelles des Utilisateurs du Site a pour base légale : 
- L’intérêt légitime de tribaliste.com à assurer le suivi et le bon déroulement des Commandes. 
- L’intérêt légitime de tribaliste.com  à améliorer la navigation sur le Site et adapter les fonctionnalités de celui-ci. 
- Le consentement des Utilisateurs en matière de prospection commerciale et de cookies.

Les données des Utilisateurs sont principalement traitées pour : 
- Permettre leur navigation sur le Site 
- Assurer le suivi et le bon déroulement de la Commande

Et à titre subsidiaire, 
- Prévenir et lutter contre la fraude (hacking, lutte contre le blanchiment, etc. …) 
- Améliorer la navigation sur le Site 
- Mener des enquêtes de satisfaction facultatives sur l’Utilisation du Site 
- Effectuer des statistiques sur l’utilisation de l’outil et constituer des reportings en interne pour les équipes dirigeantes de tribaliste.com

Tribaliste.com peut utiliser l’adresse email renseignée pour envoyer des emails promotionnels concernant des nouveautés, des offres ou toute information qui pourrait potentiellement intéressée l’Utilisateur du Site. 

6.4. TYPES DE DONNEES TRAITEES 

Tribaliste.com est susceptible de traiter, en tant qu’intermédiaire entre Utilisateurs, tout ou partie des informations suivantes : 
- Nom, prénom, adresse postale, numéro de téléphone, et adresse email 
- Historique des transactions 
- Annonces mises en ligne par l’Utilisateur dans sa Boutique 
- Coordonnées bancaires et documents nécessaires à l’identification des bénéficiaires de virements émis

6.5. Tribaliste.com et, en cas d'achat sur le Site, le Vendeur sont les seuls destinataires de ces données. Les données personnelles ne seront en aucun cas transmises à des acteurs commerciaux ou publicitaires.

Tribaliste.com pourra néanmoins être amenée à transmettre ces données à des prestataires techniques pour les besoins de l’exécution de la Commande et de l’exploitation du Site.

6.6. Ces données sont stockées en France.

6.7. Tribaliste.com s'engage à ne pas porter atteinte à la vie privée des Utilisateurs et à prendre toutes précautions utiles afin de préserver la sécurité et la confidentialité de leurs données personnelles et notamment d'empêcher qu'elles soient modifiées, endommagées ou communiquées à des personnes non autorisées, sous réserve des obligations qui pourraient lui incomber au sens de la loi n°2004-575 dite pour la Confiance dans l’Économie Numérique.

L'Utilisateur reconnaît et accepte que pendant la durée susvisée, Tribaliste.com conserve tous documents, informations et enregistrements concernant son activité sur le Site.

6.8. Conformément à la réglementation européenne en vigueur, les Utilisateurs de Tribaliste.com disposent des droits suivants : 
- Droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs 
- Droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite 
- Droit de retirer à tout moment un consentement (article 13-2c RGPD) 
- Droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD) 
- Droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD) 
- Droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD) 
- Droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui Tribaliste.com devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné

Si l’Utilisateur souhaite savoir comment Tribaliste.com utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter Tribaliste.com par écrit à l’adresse suivante : Tribaliste.com – ZI 497 Akioud Sidi Ghanem 40 000 Marrakech Maroc ou par mail à hello@tribaliste.com

Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que Tribaliste.com corrige, mette à jour ou supprime, en s’identifiant de manière précise avec une copie d’une pièce d’identité (carte d’identité ou passeport).

Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à Tribaliste.com par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de Tribaliste.com peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).

7. COOKIES
7.1. Afin de permettre à l’Utilisateur de ne pas avoir à s'identifier à chaque accès au Service au cours d’une même journée, hormis lors du premier accès, Tribaliste.com utilise des cookies de session.

Ces fichiers déposés sur l’ordinateur permettent d'identifier l’Utilisateur lors de chacune de ses connexions au Site.

7.2. Par ailleurs, afin d’améliorer le Site, Tribaliste.com utilise des cookies de mesures d’audience telles que le nombre de pages vues, le nombre de visites, l’activité des visiteurs sur le Site et leur fréquence de retour grâce aux services Google Analytics.

Ces cookies permettent seulement l’établissement d’études statistiques sur le trafic des visiteurs du Site dont les résultats sont totalement anonymes.

7.3. Tribaliste.com utilise également des cookies tiers.

Les tiers autorisés à accéder aux données collectées dans ces cookies tiers par Tribaliste.com s'engagent à utiliser ces données conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978 modifiée par la loi du 6 août 2004 et à respecter la vie privée des internautes.

7.4. L’Utilisateur peut accéder à toutes les informations contenues dans les fichiers en relation avec les cookies utilisés par Tribaliste.com conformément aux dispositions de la loi « Informatique et Libertés » du 6 janvier 1978, en transmettant la demande :

Soit par email à l’adresse hello@tribaliste.com ;

Soit par lettre recommandée avec accusé de réception à l’adresse suivante : Tribaliste.com , ZI 497 Akioud Sidi Ghanem 40 000 Marrakech Maroc

7.5. De façon générale, tout Utilisateur peut, s’il le souhaite, s’opposer à l’utilisation de cookies utilisés par Tribaliste.com en sélectionnant les paramètres appropriés de son navigateur pour désactiver les cookies (la rubrique d’aide du navigateur utilisé précise la marche à suivre).

8. PROCESSUS DE COMMANDE
Le Site est une plateforme permettant au Vendeur de proposer à la vente des produits aux Utilisateurs. Tribaliste.com agit en tant qu’intermédiaire dans le processus de commande ; ainsi Tribaliste.com n’est pas partie à la vente qui a lieu entre le Vendeur et l’Acheteur, tout deux Utilisateurs du Site.

8.1. Information précontractuelle

8.1.1. Le Vendeur s’engage à décrire dans l’Annonce :

Les caractéristiques essentielles de l’Article qu’il met en vente (nature et fonctionnalités de l’Article, couleur(s), matière(s), époque, style, dimensions, etc.) ;

L’État de l’Article ;

Le Prix de l’Article.

Si l’Article est inspiré du travail d’un designer connu (sans être une pièce originale), le Vendeur ne pourra faire référence à ce designer qu’en indiquant que l’Article est « dans le style de … ».

Si le Vendeur met en vente un Article ayant fait l’objet d’une réédition, il s’engage à le préciser dans l’Annonce et s’interdit de présenter l’Article comme une pièce originale.

8.1.2.A la création de l’Annonce sur le Site, le Vendeur renseigne le Prix de l’Article en EUROS.

8.1.3. L’Acheteur aura la possibilité de poser des Questions au Vendeur sur l’Article, sur l’espace Questions et Réponses réservé à cet effet dans l’Annonce.

Le Vendeur s’oblige à répondre à ces Questions aussi précisément que possible afin d’éviter toute absence de conformité de l’Article à la description qui en a été donnée dans l’Annonce par le Vendeur.

8.2. Conclusion de la vente

8.2.1.L’Utilisateur du Site peut sélectionner les produits en ligne sur le Site qu’il souhaite acheter en les mettant dans son Panier. L’Utilisateur retrouve dans son Panier les articles sélectionnés sur le Site. Lorsque la sélection des produits à acheter est fin prête, l’Utilisateur peut passer commande. 

Depuis le Panier, en cliquant sur « Passer la Commande » sur son Panier, l’Utilisateur est amené à choisir son adresse de livraison, son adresse de facturation et son moyen de paiement. En cliquant sur « Confirmer et payer », il s’engage vis-à-vis du Vendeur pour acheter le produit au prix indiqué sur l’Annonce si ce dernier l’accepte.

L'Acheteur est tenu par cette offre d'achat jusqu'à l'acceptation ou la renonciation ou l'expiration du délai d'acceptation laissé au Vendeur tel que défini à l’article 8.2.2 ci-après.

8.2.2. Tribaliste.com informera le Vendeur de l'offre d'achat de l'Acheteur par courrier électronique et SMS

8.2.3. Le Vendeur s'engage à accepter ou refuser l'offre d'achat de l'Acheteur dans un délai de soixante douze (72) heures, soit trois (3) jours suivants l’offre d’achat exécuté par l’Acheteur ayant entraîné la réception du courrier électronique de Tribaliste.com l'informant que l'Article qu'il a mis en vente sur le Site a trouvé un acquéreur.

Le Vendeur pourra accepter ou refuser l'offre d'achat par l’intermédiaire de son compte sur le Site.

Son acceptation sera ferme et irrévocable.

A compter de l'acceptation du Vendeur, la vente sera conclue et réputée parfaite. La carte bancaire de l'Acheteur sera alors débitée.

L’Acheteur recevra alors un email de confirmation de la vente.

Le défaut de réponse du Vendeur passé le délai de soixante-douze (72) heures vaudra un refus de l'offre d'achat, et le contrat de vente ne sera pas conclu.

La Commande de l'Acheteur sera alors annulée et la carte bancaire de l'Acheteur ne sera, en conséquence, pas débitée.

8.3. Livraison de l’Article

Les frais de livraison sont à la charge de l’Acheteur. Les frais de livraison sont exprimés en euros, toutes taxes comprises.

8.3.1. Livraison classique

8.3.1.1. L’Acheteur et le Vendeur peuvent opter pour une livraison classique de l’Article commandé, par les services de prestataire de transport de leurs choix. Nous mettons à disposition de tous les vendeurs une grille négocié avec DHL libre de service. 

8.3.1.2. Après la conclusion de la vente et l’encaissement du Prix de la Transaction par Tribaliste.com Tribaliste.com communiquera au Vendeur les coordonnées de l'Acheteur afin qu'il puisse procéder à la livraison de l'Article.

Le Vendeur s'engage à adresser à l’Acheteur l'Article convenablement emballé dans les soixante-douze (72) heures, soit trois jours suivants la communication, par Tribaliste.com, des coordonnées de l’Acheteur.

Dans les vingt-quatre (24) heures suivants l’expédition de l’Article, le Vendeur s’engage à informer l’Acheteur de la date approximative de livraison de l’Article.

8.3.1.3. Le Vendeur est seul responsable de la bonne exécution de la livraison de l'Article commandé à l’Acheteur, dans les délais susvisés.

Les risques liés à l’opération de livraison pèsent sur le Vendeur, auquel il incombera de se retourner le cas échéant contre le transporteur.

8.3.1.4. Le Vendeur s’engage également à indiquer si possible le numéro de suivi correspondant à l’expédition de l’Article dans l'espace réservé à cet effet sur le Site.

Le Vendeur s’engage à conserver les preuves de la livraison pendant un délai d’un (1) mois suivant la date d’expédition de l’Article, et s’engage à fournir à Tribaliste.com, à la demande de cette dernière, l’ensemble des informations dont il dispose, s’agissant en particulier de la date de réception de l’Article par l’Acheteur.

8.3.1.5. Après la livraison de l’Article, Tribaliste.com reversera au Vendeur le Prix de l’Article et les frais de livraison, selon les modalités stipulées à l’article 8.5.2.2 ci-après.

8.3.2.« Livraison by Tribaliste.com»

Le Vendeur auront la possibilité d’opter pour le service « Livraison by tribaliste.com ».

Après la conclusion de la vente, Tribaliste.com contactera le Vendeur et l’Acheteur dans les meilleurs délais afin d’organiser la livraison de l'Article.

Le Vendeur sera responsable de l’emballage de l’Article.

Après la livraison de l’Article par Tribaliste.com, cette dernière reversera au Vendeur le Prix de l’Article, selon les modalités stipulées à l’article 8.5.2.2 ci-après.

Les frais de livraison dans ce cas, seront versé à Tribaliste.com SARLU afin que cette dernière s’acquite des frais de livraison auprès du transporteur. 

8.4. Réception de l'Article

Si l’Acheteur est absent lors de la livraison de l’Article, il s’engage à retirer l’Article au bureau de poste approprié dans les délais impartis.

Dans l’hypothèse où, faute d’être allé chercher l’Article dans les délais, celui-ci est réexpédié au Vendeur, l’Acheteur s’engage à se rapprocher du Vendeur pour organiser la réexpédition de l’Article.

L’Acheteur sera tenu de prendre à sa charge les frais de réexpédition de l’Article ou de venir chercher l’Article directement auprès Vendeur sous réserve de l’accord de ce dernier.

8.5. Paiement de la Commande

8.5.1. Paiement par l’Acheteur

Le Prix de la Transaction est payé par l’Acheteur en EUROS. 

Tous nos prix sont indiqués en TTC. Les prix appliqués sont les prix figurant sur le site www.tribaliste.com au moment de la commande.

8.5.1.1. L’Acheteur a la possibilité de payer sa Commande :

Soit par carte bancaire soit via Paypal;

8.5.1.2. Le montant payé par l’Acheteur correspond au Prix de la Transaction et comprend en conséquence :

Les frais de la livraison, en EUROS, toutes taxes comprises ;

Après la confirmation de l’offre d’achat par le Vendeur, le compte de l’Acheteur sera débité du Prix de la Transaction en EUROS.

8.5.2.Règlement au Vendeur

8.5.2.1. Le Vendeur autorise Tribaliste.com à percevoir, en son nom et pour son compte, le Prix de la transaction.

En rémunération de l'utilisation du Site, le Vendeur autorise Tribaliste.com à retenir sur le Prix de l'Article une Commission dont le taux appliqué est : 

à 20 % H.T. de l'Article lorsque la Vente est consentie par le Vendeur ;

à 25% H.T lorsque le vendeur décide d’utiliser le service de livraison par Tribaliste.com

8.5.2.2. Sous réserve de l’absence de rétractation par l’Acheteur au sens de l’article 10.1 ci-après, Tribaliste.com procédera au versement sur le compte du Vendeur (i) de la Part Vendeur en EUROS sur le prix de l’Article et (ii) le cas échéant, des frais de livraison avancés par le Vendeur, dès lors que celui-ci l’aura demandé. Le Vendeur peut demander le versement 14 jours après la date d’envoi de l’Article par l’Acheteur.

Tribaliste.com suspendra le règlement dans l'attente de la réception de ces documents et de leur analyse.

8.5.3.Facturation

Le Vendeur agissant en tant que professionnel, doit éditer une facture adressée à l’Acheteur pour la vente réalisée sur le Site. Lors de la livraison de l’Article (livraison classique ou « Livraison by tribaliste.com »), le Vendeur est tenu de remettre à l’Acheteur une facture comportant a minima l’ensemble des mentions suivantes (sous réserve de toute autre mention imposée par les lois et/ou règlements applicables) :

Date d’émission de la facture ;

Numérotation de la facture ;

Date de la vente ;

Identité de l’Acheteur ;

Identité du Vendeur ;

Adresse de facturation ;

Désignation de l’Article (dénomination, quantité) ;

Prix unitaire (HT) de l’Article ;

Frais de transport ;

Le régime de TVA appliqué et le taux de TVA légalement applicable (le cas échéant) ;

Somme totale à payer hors taxe (HT) et toutes taxes comprises (TTC).

9. DÉTERMINATION DU PRIX DE L’ARTICLE
Le Vendeur détermine le Prix de l'Article librement.

Tribaliste.com attire notamment l'attention du Vendeur sur le fait qu'il est de sa responsabilité de ne pas fixer un Prix manifestement excessif.

Tribaliste.com se réserve le droit de refuser de publier l’Annonce si elle estime que le Prix de l’Article est trop élevé.

Le Vendeur s’engage à ce que le Prix de l’Article sur le Site soit identique au prix auquel le Vendeur commercialise l’Article en dehors du Site.

10. RETOUR ET GARANTIES
L’Acheteur est protégé par le droit des consommateurs et peut saisir la juridiction de son choix et demander l’application des règles de protection du consommateur de son pays. Le Vendeur devra appliquer le droit national de l’Acheteur en ce qui concerne les dispositions de protection du consommateur. 

10.1. Droit de rétractation

10.1.1. Délai de rétractation

Conformément à l’article L. 121-21 du Code de la Consommation, l'Acheteur dispose d'un délai de quatorze (14) jours francs à compter de la réception de l’Article pour exercer son droit de rétractation.

Dans ce délai, l’Acheteur doit informer Tribaliste.com de sa volonté de se rétracter par une déclaration écrite et dénuée d'ambiguïté. Pour exercer ce droit, l'Acheteur n'a pas à justifier de ses motivations.

10.1.2. Modalité de rétractation

Dans le cas où l’Article n’a pas encore été expédié, Tribaliste.com prendra en compte immédiatement la décision de rétractation et l’Acheteur sera remboursé dans un délai de quatorze (14) jours maximums à compter de sa décision de rétractation.

Dans le cas où l’Acheteur aurait d’ores et déjà reçu l’Article et/ou que l’Article serait en cours d’expédition, l’Acheteur dispose d’un délai de quatorze (14) jours à compter de sa réception pour retourner l’Article, emballé avec soin, au Vendeur, selon le mode d’expédition initial.

Les frais engagés pour le retour de l’Article seront à la charge exclusive de l’Acheteur.

10.1.3. Effets de la rétractation

Sous réserve du respect de cette procédure et des délais indiqués, Tribaliste.com remboursera à l'Acheteur via le même moyen de paiement utilisé par l’Acheteur lors de la Commande, dans un délai de quatorze (14) jours à compter de sa décision de rétractation.

Tribaliste.com pourra néanmoins décider de différer le remboursement jusqu'à récupération de l’Article par le Vendeur ou jusqu'à ce que l’Acheteur ait fourni à Tribaliste.com une preuve de l'expédition de l’Article, la date retenue étant celle du premier de ces faits.

10.2. Garantie pour non conformité et garantie des vices cachés

Le Vendeur est garant de la conformité de l’Article.

Le Vendeur s'engage à décrire aussi précisément que possible les caractéristiques de l’Article dans l’Annonce y afférente.

Le Vendeur s’engage en particulier à décrire l’État de l’Article, les qualités et les fonctionnalités de l’Article, conformément au formulaire proposé par le Site.

Le Vendeur devra également répondre aussi précisément que possible aux Questions posées par les Utilisateurs sur l’Article mis en vente.

A défaut de conformité de l’Article, au sens de l’article L.211-5 du code de la consommation l’Acheteur pourra se retourner contre le Vendeur, dans les conditions des articles L.211-4 et suivants du code de la consommation.

Lorsqu’il agit en garantie légale de conformité, l’Acheteur :

Bénéficie d’un délai de deux (2) ans à compter de la délivrance de l’Article pour agir à l’encontre du Vendeur ;

Peut choisir entre la réparation ou le remplacement de l’Article, sous réserve des conditions de coût prévues par l’article L. 211-9 du Code de la consommation et des dispositions de l’article L. 211-10 dans l’hypothèse où la réparation et le remplacement de l’Article seraient impossibles.

L’Acheteur est dispensé de rapporter la preuve de l’existence du défaut de conformité de l’Article durant les six (6) mois suivant la délivrance de l’Article.

La garantie légale de conformité s’applique indépendamment de toute garantie commerciale éventuellement consentie à l’Acheteur.

L’Acheteur peut également décider de mettre en œuvre la garantie contre les défauts cachés de l’Article dans les conditions des articles 1641 et suivants du Code civil.

Dans cette hypothèse, l’Acheteur peut choisir entre la résolution de la vente ou une réduction du Prix de l’Article conformément à l’article 1644 du code civil.

En cas d’exercice, par l’Acheteur, de la garantie contre les défauts cachés ou de la garantie légale de conformité, le Vendeur sera responsable du remboursement à l’Acheteur du Prix de l’Article, des frais de livraison et de retour de l’Article.

11. OBLIGATIONS DE L’UTILISATEUR
Dans le cadre de l’utilisation du Site, l’Utilisateur s’engage à :

Garantir l'exactitude, l'intégrité et la légalité des Informations ;

Garantir le bon usage du Site ;

S’abstenir de saisir des Informations malveillantes, dénigrantes, obscènes, diffamatoires, volontairement trompeuses, illicites et/ou contraires aux bonnes mœurs ;

Respecter les droits des tiers, et notamment leurs droits de propriété intellectuelle ;

Ne pas usurper l'identité d'autres Utilisateurs du Service ;

Ne pas altérer ou perturber l'intégrité ou l'exécution du Site ou des données qui y sont contenues ;

Ne pas tenter d'obtenir un accès non autorisé au Site ou aux systèmes ou réseaux qui lui sont associés ou d’intercepter des données ;

Utiliser le Site dans le respect des législations et réglementations nationales et/ou internationales applicables.

En cas de manquement à l’une de ces obligations, Tribaliste.com se réserve le droit de suspendre temporairement ou définitivement le compte de l’Utilisateur et/ou de résilier le présent Contrat.

12. OBLIGATIONS DU VENDEUR

L'objectif de Tribaliste.com est clair : aider les Vendeurs et artisans à vendre leurs Produits et à développer leur activité. Il est notamment précisé que les Produits mis en vente sur le Site tribaliste.com sont artisanaux et donc

• Etre fait en partie ou tout entier à la main
• Refelétant l’univers artisanal du pays dans lequel l’artisan ou le vendeur exerce son activité
li>

Le Vendeur s’engage à détenir la pleine et entière propriété de tout Article qu’il met en vente sur le Site.

Le Vendeur garantit que tout Article qu’il met en vente sur le Site est parfaitement conforme à l'ordre public, aux bonnes mœurs, aux droits des tiers et aux lois en vigueur.

Le Vendeur s'engage à respecter dans ses conditions et modalités de vente l'ensemble des législations et pratiques en vigueur dans son pays ainsi que dans celui de l'acheteur , notamment en matière d'échange, remboursement et prise en charge des frais de retour. 

Le Vendeur s’engage à ne pas faire de publicité trompeuse dans les Annonces ni, plus généralement, de mettre en œuvre de pratique commerciale déloyale par l’intermédiaire du Site.

Le Vendeur s'engage à retirer dans les meilleurs délais de sa Boutique tout Article qu’il ne souhaiterait plus vendre ou vendu par une autre voie.

13. ABSENCE DE CARACTÈRE CONTREFAISANT DES ARTICLES
13.1. Le Vendeur s'interdit de mettre en vente tout Article susceptible de porter atteinte à des droits de propriété intellectuelle des tiers et garantit Tribaliste.com contre tout recours de tiers à cet égard.

Par conséquent, dans l’hypothèse où un tiers agirait à l’encontre de Tribaliste.com au titre de la vente de tout Article contrefaisant sur le Site, Tribaliste.com se réserve le droit de se retourner contre le Vendeur pour obtenir l’indemnisation de tout préjudice qu’elle subirait de ce chef.

13.2. En cas de doute sur le caractère possiblement contrefaisant d'un Article, le Vendeur reconnaît et accepte que Tribaliste.com pourrait refuser la mise en ligne de l’Annonce afférente ou, à tout le moins, exiger que le Vendeur lui fournisse des documents complémentaires sur cet Article (photographies, factures, preuves d'authenticité, etc.).

13.3. L’Utilisateur qui détecte la vente, sur le Site, d’un Article contrefaisant devra le notifier Tribaliste.com.

13.4. Dans l’hypothèse où l’Utilisateur achète un Article contrefaisant sur le Site, il devra en informer immédiatement Tribaliste.com et se retourner contre le Vendeur pour obtenir l’indemnisation de tout préjudice qu’elle subirait de ce chef.

En qualité de simple intermédiaire, Tribaliste.com ne saurait être tenue responsable par l’Acheteur de la vente dudit Article contrefaisant.

14. ANNONCES
14.1. Le Vendeur est responsable de la rédaction de l’Annonce afférente à l’Article qu’il met en vente sur le Site. Tribaliste.com fournit une service d’aide aux artisans/vendeurs pour les aider à rédiger des annonces complètes concernant leur produits. 

Le Vendeur reconnaît et accepte que Tribaliste.com exige qu'il modifie et/ou supprime son Annonce et/ou que Tribaliste.com modifie ou supprime directement l’Annonce, notamment si le Vendeur n'a pas publié son Annonce dans la catégorie adéquate ou s'il a indiqué ses coordonnées dans son Annonce.

14.2. Tribaliste.com dispose d’un droit discrétionnaire d’accepter ou de refuser la mise en ligne d’une Annonce sur le Site.

En cas de refus de mise en ligne, Tribaliste.com fera ses meilleurs efforts pour indiquer au Vendeur, dans les meilleurs délais, les raisons de son refus.

En particulier, le Vendeur accepte Tribaliste.com ne publie pas l’Annonce si l’Article mis en vente ne remplit pas les critères de la charte de Tribaliste.com (notamment si l’Article n’a pas de potentiel « déco », si l’Article n’est pas ancien, si l’Article est un meuble de grande consommation, etc.).

14.3. Le Vendeur s'engage à publier des photographies - au minimum de 5 - de qualité de l’Article.

Il reconnaît et accepte que Tribaliste.com refuse la mise en ligne d’un Article si la qualité de la photographie n’est pas jugée satisfaisante par la modération de Tribaliste.com

Le Vendeur accepte également que Tribaliste.com puisse retoucher les photographies des Articles afin d'optimiser leur qualité.

15. RESPONSABILITÉ DU VENDEUR
Le Vendeur est seul responsable de la bonne exécution du contrat de vente qu’il conclut avec l’Acheteur, et en particulier :

De son obligation précontractuelle d’information à l’égard de l’Acheteur ;

De la conformité de l’Article à l’Annonce ;

De l’absence de vice caché de l’Article ;

Du respect des droits des tiers.

Il garantit Tribaliste.com de toute réclamation de l’Acheteur à cet égard.

Le Vendeur garantit Tribaliste.com contre tout dommage subi par Tribaliste.com et/ou contre toute action en responsabilité qui serait engagée à l'encontre de Tribaliste.com au titre d’une opération réalisée par le Vendeur sur le Site.

16. RESPONSABILITÉ DE Tribaliste.com.1. A l’égard du contrat de vente conclu entre le Vendeur et l’Acheteur
Tribaliste.com n’intervient pas dans les relations contractuelles entre l’Acheteur et le Vendeur, au-delà de la mise à disposition du Site facilitant leur mise en relation entre l’Acheteur et le Vendeur.

En particulier, Tribaliste.com n’intervient en aucune façon en qualité de mandataire, de courtier ou d’agent des uns ou des autres et est totalement étrangère aux relations contractuelles susceptibles d’être conclues entre l’Acheteur et le Vendeur via le Site ou autrement, directement ou indirectement.

Par suite, Tribaliste.com, qui est étrangère aux relations contractuelles ou extracontractuelles entre l’Acheteur et le Vendeur, ne pourra être responsable, à quelque titre que ce soit, de tout dommage de toute nature résultant de ces relations, vis-à-vis de l’Acheteur, du Vendeur ou des tiers.

16.2. A l’égard des Informations publiées sur le Site par l’Utilisateur

En sa qualité d'hébergeur des Informations publiées par l’Utilisateur sur le Site, Tribaliste.com est soumise au régime de responsabilité atténuée prévu aux articles 6.I.2 et suivants de la loi nº2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique.

16.3. En cas d’inexécution de ses obligations

Tribaliste.com ne sera responsable que des dommages directs subis par l’Utilisateur, dont il sera établi qu’ils résultent de l’inexécution par Tribaliste.com de ses obligations.

Sous réserve de l’article 13.4 des présentes, la responsabilité de Tribaliste.com, dans l’hypothèse où celle-ci serait reconnue par une décision judiciaire, ne pourra excéder le montant total des Commissions que l'Utilisateur aura payées à Tribaliste.com au cours des douze (12) mois précédents ladite action en responsabilité.

En revanche, Tribaliste.com ne saurait en aucun cas être tenu responsable :

Des dommages qui résulteraient du fait de l’Utilisateur, du fait d’un tiers ou d’un cas de force majeure ;

Des dommages indirects, ceux-ci étant définis de façon non limitative comme les pertes d’exploitation (chiffre d’affaires, revenus ou bénéfices), les pertes d’opportunités, de données, les préjudices d’image ou de réputation, préjudice commercial ou économique, la cessation éventuelle de l’activité de l’Utilisateur.

17. INTERRUPTION DU SITE POUR MAINTENANCE OU AMÉLIORATION
Tribaliste.com s'engage à mettre tout en œuvre pour assurer le bon fonctionnement du Site et son accessibilité par l’Utilisateur mais elle n'est tenue qu'à une obligation de moyens concernant la continuité de l'accès au Site.

Tribaliste.com ne garantit pas la pérennité ou les performances du Site.

Tribaliste.com se réserve le droit de suspendre, sans préavis, l'accès au Site, temporairement ou définitivement.

Elle pourra interrompre l'accès au Site pour des raisons notamment de maintenance, de mise à jour et en cas d'urgence.

L’interruption temporaire ou définitive du Site n’engagera pas la responsabilité de Tribaliste.com, et ne donnera droit à aucune indemnité à l’Utilisateur.

En conséquence, Tribaliste.com ne peut être tenue pour responsable de la perte d'argent, ou de réputation, ni des dommages spéciaux, indirects ou induits résultant de l’interruption du Site.

De même, Tribaliste.com ne pourra être tenue pour responsable des éventuelles dégradations de matériel, logiciel ou données (exemple : contamination virale) subies par l’Utilisateur du fait de son utilisation du Site.

Pour éviter autant que possible des désagréments, l’Utilisateur doit s’assurer de la réalisation régulière de sauvegardes concernant ses données et logiciels.

L’Utilisateur reconnaît utiliser le Site tel qu’il lui est fourni, à ses risques et périls et ce, en parfaite connaissance de cause.

18. PROPRIÉTÉ INTELLECTUELLE
A l’exception des Informations fournies par l’Utilisateur, l'ensemble des éléments techniques, graphiques, textuels ou autres constituant le Site (textes, graphismes, logiciels, photographies (en ce compris, les photographies détourées des Articles mis en vente sur le Site), images, vidéos, sons, plans, charte graphique, technologie(s), noms, marques, logos, créations et œuvres protégeables, bases de données, etc.) ainsi que le Site lui-même, sont la propriété exclusive  de Tribaliste.com

L’Utilisateur reconnaît qu'aucune propriété ne lui est transmise, et qu'aucun droit ou licence ne lui est accordé(e), en dehors d’un droit d’utiliser le Site pendant la durée du Contrat.

En conséquence, sauf autorisation expresse et préalable de Tribaliste.com, l’Utilisateur s'engage à ne pas :

Reproduire en nombre, à des fins commerciales ou non, des Informations présentes sur le Site et/ou les éléments techniques, graphiques, textuels ou autres constituant le Site ;

Intégrer tout ou partie du contenu du Site, et notamment les photographies détourées, dans un site tiers, à des fins commerciales ou non ;

Utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu du Site ;

Toute utilisation non expressément autorisée d'éléments du Site engage la responsabilité civile et/ou pénale de son auteur et sera susceptible d'entraîner des poursuites judiciaires à son encontre.

Les marques enregistrées, noms de produits et noms ou logos figurant sur le Site appartiennent à leurs propriétaires respectifs.

Le fait, pour Tribaliste.com, de faire référence à des produits, services, ou autres informations en citant un nom commercial, une enseigne, une marque, un fabricant, un fournisseur ou autre ne constitue pas et n'implique pas une acceptation, un parrainage, un partenariat ou une recommandation de la part de Tribaliste.com.

18.1. Liens à partir du Site

Le Site peut contenir des liens hypertextes vers des sites tiers.

Ces liens sont fournis à simple titre de complément d'information.

Tribaliste.com n'exerce aucun contrôle sur les sites vers lesquels ces liens renvoient et décline toute responsabilité quant à l'accès, au contenu ou à l'utilisation de ces sites, ainsi qu'aux dommages pouvant résulter de la consultation des informations présentes sur ces sites.

Dès lors que l’Utilisateur est redirigé sur le site d’un tiers, les conditions d’utilisation du site en cause s’appliquent en lieu et place des présentes Conditions Générales qui cessent de s’appliquer.

La décision de cliquer sur ces liens relève de la pleine et entière responsabilité de l’Utilisateur.

Si l’Utilisateur accède, par l’intermédiaire du Site, à un site tiers illicite ou nuisible de quelque manière que ce soit, il en avise immédiatement Tribaliste.com de façon à lui permettre de supprimer sans délai le lien renvoyant vers le site litigieux

18.2. Liens vers le Site

Tout lien vers le Site doit faire l'objet d'une autorisation préalable.

Tribaliste.com se réserve le droit de mettre fin à une autorisation à tout moment s'il lui paraît que le lien établi vers le Site est de nature à porter atteinte à ses intérêts.

19. RÉSILIATION DU CONTRAT
19.1. Par un Utilisateur

Chaque Utilisateur peut demander la suppression de son inscription au Site en adressant au Tribaliste.com une demande :

Soit en adressant un email à l’adresse suivante : service-client@tribaliste.com

Soit par courrier à l'adresse suivante : ZI 497 Akioud Sidi Ghanem 40 000 Marrakech Maroc

La désinscription entraînera la résiliation du Contrat.

Cette résiliation prendra effet dans un délai de trente (30) jours ouvrés à compter de la réception de la demande de désinscription par Tribaliste.com.

19.2. Par Tribaliste.com

Tribaliste.com se réserve le droit de résilier le Contrat de plein droit et sans préavis ni formalité préalable, en cas de manquement de l’Utilisateur à ses obligations prévues aux présentes.

La résiliation du Contrat entraînera la désinscription immédiate de l’Utilisateur.

L’Utilisateur sera informé de ladite résiliation par courriel, à l’adresse qu’il a renseignée lors de son inscription.

La résiliation interviendra sans préjudice des dommages et intérêts que pourrait réclamer Tribaliste.com en réparation des préjudices éventuellement subis du fait des manquements reprochés à l’Utilisateur.

20. DURÉE DU CONTRAT
Le Contrat est conclu pour la durée d’inscription de l’Utilisateur sur le Site.

21. STIPULATIONS GENERALES21.1. Indépendance des Parties

Les Parties reconnaissent et acceptent qu’elles ne pourront en aucun cas prendre un engagement au nom et/ou pour le compte l’une de l'autre.

En outre, chacune des Parties demeure seule responsable de ses actes, allégations, engagements et prestations.

21.2. Relations entre les Parties

Les Parties reconnaissent et acceptent qu’elles agissent en toute indépendance l’une de l’autre et, en particulier, que Tribaliste.com à un rôle de pur intermédiaire entre les Vendeurs et les Acquéreurs, en sorte qu’elle est un tiers aux relations nouées entre ceux-ci et que le présent Contrat ne pourra en aucun cas être considéré comme établissant entre les Parties une société de fait, une société en participation ou tout autre situation entraînant entre elles une quelconque représentation réciproque ou solidarité à l’égard de leurs créanciers respectifs.

21.3. Autonomie des stipulations

S’il l’une quelconque des dispositions des Conditions Générales devait être déclarée nulle ou inapplicable, au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle sera réputée non écrite.

Les autres stipulations des présentes resteront en vigueur en conservant toute leur force et leur portée, pour autant qu’il soit possible, les Parties s’engageant, en tant que de besoin, à se rapprocher afin de remplacer la clause nulle par une clause valide, aussi proche que possible, dans son esprit, de celle qu’elle a vocation à remplacer.

21.4. Non renonciation

Le fait que l'une ou l'autre des Parties ne revendique pas l'application de l'une quelconque des dispositions du Contrat ou accepte son inexécution, que ce soit de manière permanente ou temporaire, ne pourra pas être interprété et ne constituera pas une renonciation par cette Partie à ses droits en vertu des présentes, n’affectera en aucune manière la validité de tout ou partie des présentes et ne portera pas atteinte aux droits de la Partie d’agir en conséquence.

21.5. Force majeure

Tout événement imprévisible, irrésistible et extérieur aux Parties tels que (et de manière non limitative) les actes de guerre ou de terrorisme, les actes criminels, les émeutes, les catastrophes naturelles ou industrielles, les explosions, les réquisitions légales et autres dispositions d’ordre législatif ou réglementaire apportant des restrictions à l’exercice de l’activité de Tribaliste.com, les perturbations des réseaux de communications électroniques indépendantes de la volonté de Tribaliste.com, etc., doit être considéré comme un cas de force majeure.

En cas de force majeure, Tribaliste.com peut être amené à suspendre le Site.

Les effets du Contrat sont alors suspendus et reprendront après l’extinction du cas de force majeure pour la durée du Contrat qui restait à courir au moment de la suspension.

21.6. Loi applicable, Juridiction compétente

La validité, l’interprétation, l’exécution ou la résiliation du Contrat et leurs suites éventuelles sont régis par le droit français et interprétés conformément à celui-ci.

Le Contrat est rédigé en français. Dans le cas où elles seraient traduites dans une ou plusieurs langues, seul le texte français ferait foi en cas de litige.

La résolution de tout litige ou différend, relatif à la validité, l’interprétation, l’exécution ou la résiliation du Contrat et leurs suites éventuelles sera soumise à la compétence exclusive des juridictions du ressort de la Cour d’appel de PARIS, même en cas de Référé, demande incidentes, d’appel en garantie ou de pluralité des défendeurs.


{% endblock %}
