{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}


	<h1>cgu</h1>

	<ol type="I">
		<li>
			<h2>Lorem ipsum dolor sit amet.</h2>
			<ol>
				<li>
					<h3>Lorem ipsum dolor sit amet.</h3>
					<p>
						<span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis asperiores repellat impedit voluptatibus! Officia sit vero qui corrupti fuga libero, rerum maiores magni aliquid eum esse quae dignissimos nobis voluptate.</span>
						<span>Consequuntur libero, ea dolorem earum magnam quod doloremque reiciendis quos dolores fugit aliquid at, nobis animi nisi incidunt officiis sunt aperiam reprehenderit, accusantium quibusdam perspiciatis perferendis doloribus. Beatae, facere officia?</span>
						<span>Rem, blanditiis! Assumenda deserunt placeat, iure dolor, repellat, corporis nobis neque nesciunt dolorem nam obcaecati? Sapiente expedita, cumque quos dicta pariatur veritatis assumenda et laboriosam voluptatum cum earum ex adipisci.</span>
						<span>Nostrum tempora soluta voluptatem hic neque, quis ullam quas amet, dolor dolorum iusto. Facere expedita blanditiis numquam quaerat pariatur recusandae repudiandae. Deserunt vel quae itaque dicta. Asperiores reprehenderit odit at.</span>
						<span>Placeat aliquam, sit eaque id reiciendis officia dolorem officiis ducimus labore consequatur nostrum architecto quas sunt repudiandae suscipit culpa repellendus odit adipisci! Esse, eveniet. Fugiat facere quis iste porro tenetur?</span>
					</p>
				</li>
				<li>
					<h3>Id doloribus deserunt earum placeat.</h3>
					<p>
						<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ullam eaque voluptatem iusto assumenda, natus vel voluptas totam optio eum earum impedit ducimus, commodi veritatis provident, illum atque tempore placeat?</span>
						<span>Officia ducimus necessitatibus natus aliquam at impedit placeat magni mollitia dolorem omnis tempora voluptatum autem, sint, expedita debitis soluta. Sint, dolor nihil! Debitis iusto eligendi dolorem eos iure perferendis obcaecati.</span>
						<span>Quos cumque quasi quod odit eligendi minus, sit doloremque harum, laborum perferendis tempora pariatur eius consectetur quo quia quidem ratione similique? Incidunt eum impedit ratione hic, harum aut aliquam cumque.</span>
						<span>Mollitia beatae fuga, quas quidem delectus aliquam vero cum reiciendis distinctio quia obcaecati totam nobis minus saepe asperiores placeat doloremque sapiente veritatis itaque recusandae culpa. Explicabo at maxime quis nisi.</span>
						<span>Vitae eos possimus earum corrupti commodi nisi dolorum itaque veniam maiores ducimus cupiditate, voluptatum temporibus optio id eaque minima repellendus. Ut quidem delectus, magni quasi ipsum explicabo recusandae facere possimus.</span>
					</p>
				</li>
			</li>
		</li>
	</ol>
{% endblock %}
