{% extends 'base.html.twig' %}

{% block title %}retour
{% endblock %}

{% block body %}
<div class"" id="accord">
<div class="container">
<h1> frequently</h1>
<div class="tabi">
<input type="radio" name="acc" id="acc1">
<label for="acc1">
<h2>01</h2>
<h3>ici description</h3>
</label>
<div class="content"><p>lorem ici le contenu</p></div>
</div>

<div class="tabi">
<input type="radio" name="acc" id="acc2">
<label for="acc2">
<h2>02</h2>
<h3>ici description</h3>
</label>
<div class="content"><p>lorem ici le contenu</p></div>
</div>

<div class="tabi">
<input type="radio" name="acc" id="acc3">
<label for="acc3">
<h2>03</h2>
<h3>ici description</h3>
</label>
<div class="content"><p>lorem ici le contenu</p></div>
</div>

</div>
</div>

{% endblock %}
