{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	{# ICI LE REGLEMENT #}
	<div id="contact">
	<div class="container">
<h2>Contactez-nous</h2>
<div class="row100">
<div class="col">
<div class="box">
<input type="text" name"" required="required">
<span class="text">first name</span>
<span class="line"></span>

</div>
</div>

<div class="col">
<div class="box">
<input type="text" name"" required="required">
<span class="text">Last name</span>
<span class="line"></span>
</div>
</div>

<div class="row100">
<div class="col">
<div class="box">
<input type="text" name"" required="required">
<span class="text">Email</span>
<span class="line"></span>
</div>
</div>
</div>

<div class="row100">
<div class="col">
<div class="box textarea">
<textarea required="required"></textarea>
<span class="text">Message</span>
<span class="line"></span>
</div>
</div>
</div>

<div class="row100">
<div class="col">
<input type="submit" value="send">
</div>
</div>


</div>
</div>
</div>

{% endblock %}
