{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!
{% endblock %}

{% block body %}
	{# debut essai design #}

<div class="body1">
<div class="conta">
<div class="box">
<span style="--i:1;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:2;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:3;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:4;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:5;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:6;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:7;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:8;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:9;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:10;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:11;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:12;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:13;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:14;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:15;"><i>L'</i>art<i>du</i>Maroc</span>
<span style="--i:16;"><i>L'</i>art<i>du</i>Maroc</span>


</div>
</div>
</div>
{# fin essai design #}
	

{% endblock %}
