{% extends 'base.html.twig' %}

{% block title %}retour
{% endblock %}

{% block body %}

	<div class="ajoutprodtitre">

	<h1>politique de retour</h1>
</div>
<div class="register">

		<div class="col-4">
    <h2>Comment effectuer le retour de ma commande?</h2>
<p>
Nous comprenons que, parfois, vous décidiez que le produit que vous avez commandé et reçu ne vous est pas adapté et que vous souhaitiez nous le renvoyer et être remboursé.</p>
<p>

Merci de noter que nous ne pouvons accepter le retour de tous produits ouverts ou partiellement utilisés.
Merci de renvoyer votre article sous les 30 jours suivant la livraison à:</p>
<p>
Société L'art du Maroc<br>
2 rue marcel cachin <br>
75020 paris <br>
</p>
<p>
Conformément à notre politique de retour, tous les articles devront être retournés à vos frais.</p>
<p>
Une fois que votre article retourné a été reçu et examiné dans notre entrepôt, nous traiterons le remboursement et effectuerons le paiement sur ​​le compte d'où provenait le paiement à l'origine. Merci de compter jusqu'à 10 jours ouvrables pour que ce paiement soit visible sur votre compte. Nous ne sommes pas en mesure de traiter un remboursement tant que les marchandises n'ont pas été reçues.</p>

Lorsque vous envoyez les articles, il est nécéssaire d'inclure un mot, dans lequel vous préciserez le numéro de commande, le nom et la raison du retour.
</div>
<div class="col-4">
			<img src="{{asset("lampe1.jpg")}}" alt="" class="img-fluid thumbnail">

		</div>
		</div>

</p>
{% endblock %}
