{% extends 'base.html.twig' %}

{% block title %}modifier Adresse de livraison{% endblock %}

{% block body %}
    <h1 class="tit">Modifier votre adresse de livraison</h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}
				{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_adresse_index') }}">back to list</a>
				{% endif %}

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
