{% extends 'base.html.twig' %}

{% block title %}abat-Jour
{% endblock %}

{% block body %}
{# <div class="imgglob">
				<img src="{{ asset("poufrouge.jpg")}}" class="tof46 card-img-top" alt="..."></a>

</div> #}
<div class="titrepouf">
		<h1>NOS ABAT-JOURS</h1>
	</div>
	<div class="pouf">

		{# les etoiles pour mettre une note(voir script) #}
		  {# <div class="stars">
            <i class="lar la-star" data-value="1"></i><i class="lar la-star" data-value="2"></i><i class="lar la-star" data-value="3"></i><i class="lar la-star" data-value="4"></i><i class="lar la-star" data-value="5"></i>
        </div>
        <input type="hidden" name="note" id="note" value="0">
        <button type="submit">Valider</button> #}
		
		
		

	</div>

	

{% endblock %}
