{% extends 'base.html.twig' %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
{# <h1>Page non trouvée</h1>
<p>La page que vous cherchez n'a pas été trouvée.</p>
<p>Code de l'erreur: {{ status_code }}</p>
<p>Message de l'erreur: {{ status_text }}</p> #}
{# <p>Message personnalisé: {{ exception.message }}</p> #}
<div class="error">
							 <img src="{{asset("1error404.jpg")}}" alt="" >
</div>
{% endblock %}
