{% extends 'base.html.twig' %}

{% block title %}New Adressefact{% endblock %}

{% block body %}
    <h1 class="tit">Creez une nouvelle Adresse de facturation</h1>

    {{ include('adressefact/_form.html.twig') }}
				{% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_adressefact_index') }}">back to list</a>
				{% endif %}

{% endblock %}
