
   
{% extends 'base.html.twig' %} {% block body %} Merci pour votre achat. 

<p>votre facture</p>
	 {# <a href="{{ path('app_pdf_fact', {'id': commande.id}) }}"><img src="{{asset('pdfico.ico') }}"></i></a>  #}



{% endblock %}