
   
{% extends 'base.html.twig' %} {% block body %} L'art du Maroc vous remercie pour votre achat. 

<p>une facture est disponible sur votre compte dans la section "mes commandes"</p>
						<a href="{{ path('app_commande_index') }}">voir mes commandes</a>




{% endblock %}